{% extends 'adwaitapp/base.html' %}

{% block content %}
<div class="indexone">
<section class="pt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0 text-uppercase">Our Trending Tech</h4>
          </div>
          <div class="card-body">
            <canvas id="barChart" width="400" height="200"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock %}