{% extends 'adwaitapp/base.html' %}

{% block content %}

<div class="bg-gray-200 text-sm">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 py-3">
        <li class="breadcrumb-item"><a class="fw-light" href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active fw-light" aria-current="page">Change Passwrod </li>
      </ol>
    </nav>
  </div>
</div>
<section class="tables pt-5">
  <div class="container-fluid"> 
    <div class="row">
      <div class="col-lg-4 dedit">
        <div class="card">
          <div class="card-header border-bottom">
            <h3 class="h4 mb-0">Change Password</h3>
          </div>
          <div class="card-body">
            <form class="form-horizontal" method="post">
              {% csrf_token %}
              <div class="row mb-3">
                <div class="col-sm-12">
                  <label class="form-label" for="oldpwd">Old Password</label>
                  <input class="form-control" type="password" id="oldpwd" name="old_password" placeholder="Enter Current Password">
                  {% if form.old_password.errors %}
                    <ul class="errorlist">
                        {% for error in form.old_password.errors %}
                            <li>* {{ error }}</li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              </div>
              <hr class="color-me-gray">
              <div class="row mb-3">
                <div class="col-sm-12">
                  <label class="form-label" for="newpwd">New Password </label>
                  <input class="form-control" type="password" id="newpwd" name="new_password1" placeholder="Enter New Password">
                  {% if form.new_password1.errors %}
                    <ul class="errorlist">
                        {% for error in form.new_password1.errors %}
                            <li>* {{ error }}</li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-12">
                  <label class="form-label" for="repnewpwd">Repeat Password </label>
                  <input class="form-control" type="password" id="repnewpwd" name="new_password2" placeholder="Enter Repeat Password">
                  {% if form.new_password2.errors %}
                    <ul class="errorlist">
                        {% for error in form.new_password2.errors %}
                            <li>* {{ error }}</li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              </div>
              <div class="border-bottom my-3 border-gray-200"></div>
              <div class="row">
                <div class="col-sm-9"> 
                  <button class="btn btn-primary" type="submit">Update Password</button>
                </div>
              </div>
           </form>
         </div>
       </div>
     </div>
  </div>
</div>
</section>
{% endblock %}